.item {
  display: flex;
  gap: 30px;
}

.imgWrapper {
  border-radius: 10px;
  overflow: hidden;
}

.title {
  margin-top: 10px;
  font-weight: 700;
  font-size: 25px;
}

.genre {
  margin-top: 5px;
  color: rgb(89, 87, 87);
}

.text {
  margin-top: 20px;
}

.textContains {
  margin-top: 20px;
}

.contains {
  color: rgb(100, 98, 98);
}
