.oneWork {
  min-height: calc(100vh - 160px);
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.topContent {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}

@media (min-width: 768px) {
  .topContent {
    flex-direction: row;
    margin-top: 40px;
    gap: 30px;
  }
}

.imgWrapper {
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  overflow: hidden;
  width: 280px;
  height: auto;
}

@media (min-width: 768px) {
  .imgWrapper {
    width: 200px;
    height: 290px;
  }
}

.info {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .title {
    font-size: 27px;
    margin-top: 10px;
    text-align: left;
  }
}

.genre {
  font-size: 12px;
  margin-top: 10px;
  color: rgb(92, 91, 91);
  text-align: center;
}

@media (min-width: 768px) {
  .genre {
    font-size: 15px;
    text-align: left;
  }
}

.authorWrapper {
  display: flex;
  gap: 5px;
  margin-top: 25px;
  font-size: 16px;
}

@media (min-width: 768px) {
  .authorWrapper {
    font-size: 18px;
  }
}

.avatarWrapper {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.author {
  font-weight: 500;
}

.authorText {
  color: rgb(92, 91, 91);
}

.pagesWrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 25px;
  font-weight: 500;
  font-size: 16px;
}

@media (min-width: 768px) {
  .pagesWrapper {
    font-size: 18px;
  }
}

.pages {
  color: rgb(92, 91, 91);
  font-weight: 400;
}

.linksWrapper {
  display: flex;
  margin-top: 25px;
  gap: 20px;
}

.likesWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  border: 1px solid rgb(241, 235, 235);
  padding: 7px 15px;
  border-radius: 20px;
  font-size: 15px;
}

.likeIcon {
  transition: scale 0.2s ease-in;
  cursor: pointer;
}

.likeIcon:hover {
  scale: 1.1;
}

.backLinkWrapper {
  display: flex;
  align-items: center;
  border: 1px solid rgb(241, 235, 235);
  padding: 7px 15px;
  border-radius: 20px;
  font-size: 15px;
  transition: background-color 0.2s ease-in;
}

.backLinkWrapper:hover {
  background-color: rgb(238, 234, 234);
}

.btn {
  margin-top: 25px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
  padding: 10px 0;
  color: rgb(2, 93, 2);
  font-weight: 500;
  font-size: 16px;
}

@media (min-width: 768px) {
  .nav {
    font-size: 18px;
    gap: 50px;
  }
}

.link {
  transition: color 0.2s ease-in, scale 0.2s linear;
}

.link:hover {
  color: rgb(75, 75, 75);
  scale: 1.1;
}

.decor {
  height: 1px;
  width: 100%;
  background-color: rgb(219, 216, 216);
  box-shadow: 0px 2px 2px rgba(108, 108, 108, 0.5);
}
