.home {
  min-height: calc(100vh - 80px);
  padding-top: 80px;
  background-size: cover;
  height: 100%;
}

.greet {
  margin-top: 50px;
  font-size: 70px;
  font-weight: 500;
  color: rgb(67, 66, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Caveat;
}
