.footer {
  margin-top: auto;
  padding: 30px 0;
  background-color: rgb(233, 203, 147);
}

.footer__wrapper {
  display: flex;
  justify-content: center;
}

.copyright {
  font-size: 14px;
}

@media (min-width: 768px) {
  .copyright {
    font-size: 16px;
  }
}

.link {
  font-style: italic;
  font-weight: 700;
}

.decor {
  height: 0.5px;
  width: 100%;
  background-color: rgb(171, 166, 166);
}
