.comments {
  padding-top: 30px;
  padding-bottom: 30px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.text {
  font-size: 18px;
}

@media (min-width: 768px) {
  .text {
    font-size: 20px;
  }
}
