.chapter {
  min-height: calc(100vh - 85px);
  padding-top: 80px;
  padding-bottom: 30px;
  background-image: url(./../../assets/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.contentWrapper {
  padding: 30px 200px;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}
